<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.DoAnKetMon_UDTMConnectionString"
            connectionString="Data Source=MSI\SUCOBATNGO;Initial Catalog=DoAnKetMon_UDTM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.DoAnKetMon_UDTMConnectionString1"
            connectionString="Data Source=LAPTOP-AU6VJ49A\SQLEXPRESS;Initial Catalog=DoAnKetMon_UDTM;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.DoAnKetMon_UDTMConnectionString2"
            connectionString="Data Source=LAPTOP-AU6VJ49A\SQLEXPRESS;Initial Catalog=DoAnKetMon_UDTM;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>